Pillow==9.3.0
wheel==0.40.0
Django==4.1.4
django-model-utils==4.3.1
django-rest-swagger==2.2.0
djangorestframework==3.14.0
drf-yasg==1.21.5
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
num2words==0.5.12
django-dotenv==1.4.2
mysql-connector-python==8.0.32
mysqlclient==2.1.1
sqlparse==0.4.3
django-cloudinary-storage==0.3.0