.postscards{
    width: 25%;
}
.innerpost{
    width: 300px;
    height: 300px;
    margin: 1.5%;
}
.innercont{
    width: 100%;
}

.postscont{
    margin-top: 50px;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.userposts{
    width: 100%;
}
.logo{
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.innerpost-container {
  display: flex;
  flex-wrap: wrap;
}

.innerpost {
  margin-right: 0px; 
  flex: 0 0 calc(23.33%);
}
.pf{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pfdes{
    margin-left: 100px;
}
.username{
  font-size: 25px;
}
.bio{
  opacity: 0.7;
  margin-top: 10px;
}

.edit-btn{
  margin-left: 5px;
  padding: 0px;
  color: orangered;
  width: 100px;
  height: 25px;
  font-size: small;
}

@media (max-width: 768px) {
  .innerpost {
    flex: 0 0 calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .innerpost {
    flex: 0 0 100%; 
    margin-right: 0;
  }
  .pfdes{
    margin-left: 10px;
}
.logo{
    width: 100px;
    height: 100px;
}
}
