.reelcard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

.reelcard video {
  height: 500px;
  object-fit: fill;
  overflow: hidden;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-actions span {
  cursor: pointer;
}

.flex-display {
  display: flex;
  justify-content: space-between;
  color: black;
  
}

@media screen and (max-width: 768px) {
  .reelcard {
  width: 400px;
}
.reelcard video {
  height: 400px;
}
}
@media screen and (max-width: 400px) {
  .reelcard {
  width: 300px;
}
.reelcard video {
  height: 400px;
}
}

