@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.btf{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.img-animated {
  animation: moveUpDown 2s ease-in-out infinite;
}

.bg{
    background: linear-gradient(114.02deg, #96CBE2 -3.87%, rgba(255, 255, 255, 0.09) 51.6%, #FF900E 118.56%);
}

.innercard{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    padding: 50px;
    margin: 50px;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.mt-40{
    margin-top: 40px;
}

.mt-20{
    margin-top: 20px;
}


.showbt{
    position: relative;
    right: -310px;
    top: -60px;
}
.design{
  width: 400px;
  height: 400px;
}
.forgotpass{
  display: flex;
  justify-content: right;
  width:max-content
}
.centerdflex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}
.forgotpass{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  text-align: right;
}
.forgotpass Link{
  text-decoration: none;
  color: blue;
}