.innercard{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.form-cont{
  width:  400px;
}
.showbt{
    position: relative;
    right: -365px;
    top: -55px;
}
.forgotpass{
  margin-top: -50px;
}

.remember{
  display: flex;
  justify-content: right;

}
.sub-btn{
  display: flex;
  justify-content: center;
}
.bg{
  width: 100vw;
  height:100vh;
  background-color: #f7edd5;
}

@media (max-width: 576px) {
    .form-cont{
        width:  300px;
      }
      .showbt{
    right: -265px;
    
}
}